html body .rs-picker-menu.rs-picker-daterange-menu {
  box-shadow: 0 18px 26px rgba(0,0,0,0.06) !important;
}

.kizen-quick-selection-container {
  text-align: center;
  border-right: 1px solid #eceef0;
  margin-bottom: 10px;
}

.kizen-navbar-calendar-icons-wrapper {
  margin-left: 35px;
  color: #528ef9;
  margin: 0;
  padding: 0;
  min-width: 2rem;
  padding: 0 !important;
  margin-left: 3.5rem !important;
  margin-right: 0 !important;
}

.kizen-navbar-calendar-innerwrapper {
  display: inline-block;
}

.kizen-navbar-calendar-daterange {
  font-size: 1em;
  font-weight: 400;
  color: #4a5660;
  margin-bottom: 0;
  background-color: #528ef9;
  color: #ffffff;
  padding: 0.3rem 0.65rem;
  vertical-align: top;
  border-radius: 1rem;
}

.kizen-navbar-calendar-i {
  outline: none;
}

.kizen-navbar-calendar-icons {
  width: 17.5px;
  height: 20px;
  color: #528ef9;
}

.rs-picker-menu.rs-picker-daterange-menu {
  border-width: 1px;
  border-color: #d8dde1;
  border-style: solid !important;
  border-radius: 8px;
  border-style: none;
}

.rs-calendar .rs-calendar-month-dropdown-cell-content, .rs-calendar .rs-calendar-table-cell-content {
  height: 28px;
  width: 28px;
}

.rs-picker-daterange .rs-picker-toggle.kizen-date-range-picker-dropdown .rs-picker-toggle-value {
  font-size: 14px;
  color: #4A5660;
}

.kizen-date-range-picker-dropdown-icon {
  margin-left: 15px;
}

.rs-calendar-table-cell-un-same-month.rs-calendar-table-cell-is-today > span {
  border: none;
}

.rs-picker-toggle.kizen-date-range-picker-dropdown {
  display: flex;
  align-items: center;
  padding-right: 14px;
}

.kizen-quick-selection-header {
  margin: 23px 0px 12px 0px;
  font-size: 11px;
  text-transform: uppercase;
}

.kizen-quick-selection {
  display: grid;
  grid-template-rows: 1fr;
}

.kizen-daterangepicker-toolbar {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5ea;
  padding: 15px;
  margin-top: 4px;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
}

.kizen-daterangepicker-toolbar .clearButton {
  color: #fb7373;
  text-transform: uppercase;
}

.kizen-daterangepicker-toolbar .applyButton {
  color: #4bc7bf;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size:1.2rem;
  font-family: 'Proxima Nova',sans-serif;
  font-weight: 600;
}

.rs-calendar-header-month-toolbar i.disabled svg {
  color: #a8b3bc;
}

.rs-picker-daterange-panel {
  color: #4a5660;
}

.rs-picker-quickSelection-option {
  display: flex;
  align-items: center;
  padding: 9px 15px;
  text-align: left;
  background-color: #ffffff;
}

.rs-picker-quickSelection-option:hover {
  background-color: #cedefc;
}

.rs-picker-quickSelection-option > span {
  font-size: 14px;
}

.rs-picker-quickSelection-option.selected > span {
  color: #528ef9;
}

.rs-calendar-table-cell.rs-calendar-table-cell-is-today > span {
  border-color: #528ef9;
  border-radius: 24px;
}

.rs-calendar-table-cell.rs-calendar-table-cell-selected-start.rs-calendar-table-cell-selected
  > span,
.rs-calendar-table-cell.rs-calendar-table-cell-selected-end.rs-calendar-table-cell-selected
  > span {
  background-color: #528ef9;
  border-color: #528ef9;
  border-radius: 24px;
}

.rs-calendar-table-cell-in-range::before,
.rs-calendar-table-cell-content:hover {
  background-color: #cedefc;
}

.rs-calendar-table-cell-content:hover {
  border-radius: 24px;
}

.cell-in-range-after-start ~ .rs-calendar-table-cell-selected-start::before {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.cell-in-range-before-start ~ .rs-calendar-table-cell-selected-start::before {
  background: #cedefc;
  background: -webkit-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to left,#ffffff 50%,#cedefc 50%);
}

.cell-in-range-after-start ~ .rs-calendar-table-cell-selected-end::before {
  background: #cedefc;
  background: -webkit-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to left,#ffffff 50%,#cedefc 50%);
}

.cell-in-range-before-start ~ .rs-calendar-table-cell-selected-end::before {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.cell-not-in-range + .rs-calendar-table-cell-selected-end::before {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.cell-not-in-range + .rs-calendar-table-cell-selected-start::before {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.rs-calendar-table-row .rs-calendar-table-cell.rs-calendar-table-cell-selected.cell-not-in-range.cell-left-edge::before {
  background: #ffffff;
}

.rs-calendar-table-row .rs-calendar-table-cell-selected.cell-left-edge::before {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.rs-calendar-table-row .cell-left-edge.cell-in-range-before-start.rs-calendar-table-cell-selected::before,
.rs-calendar-table-row .cell-left-edge.cell-in-range-after-start.rs-calendar-table-cell-selected::before
 {
  background: #cedefc;
  background: -webkit-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to left,#ffffff 50%,#cedefc 50%);
}

.rs-calendar-table-row .cell-left-edge.cell-in-range-before-start.rs-calendar-table-cell-selected.rs-calendar-table-cell-selected-end::before,
.rs-calendar-table-row .cell-left-edge.cell-in-range-after-start.rs-calendar-table-cell-selected.rs-calendar-table-cell-selected-start::before  {
  background: #cedefc;
  background: -webkit-linear-gradient(left,#ffffff 50%,#cedefc 50%);
  background: -o-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: -moz-linear-gradient(right,#ffffff 50%,#cedefc 50%);
  background: linear-gradient(to right,#ffffff 50%,#cedefc 50%);
}

.cell-not-in-range + .cell-same-start-end::before,
.cell-not-in-range + .cell-same-start-end::before,
.cell-not-in-range + .cell-not-in-range::before  {
  background: #ffffff;
}

.rs-calendar-table-cell.rs-calendar-table-cell-un-same-month > span {
  color: #a8b3bc;
}

.rs-calendar-header-title.rs-calendar-header-title-date {
  font-size: 24px;
  font-weight: 100;
  color: #4a5660;
}

.rs-calendar .rs-calendar-header .rs-calendar-header-month-toolbar {
  display: grid;
  grid-template-columns: 0px 20px 1fr 20px 0px;
  padding: 0px 12px;
}

.rs-calendar-table-header-row
  .rs-calendar-table-cell
  .rs-calendar-table-cell-content
  > span {
  font-size: 18px;
  color: #4a5660;
}

.rs-calendar-view {
  padding-top: 12px;
}

.rs-calendar-header.rs-calendar-header-has-month {
  padding: 0px;
}

.rs-calendar-header {
  padding-left: 0px;
  padding-right: 0px;
}

.rs-calendar-header-month-toolbar .rs-calendar-header-backward,
.rs-calendar-header-month-toolbar .rs-calendar-header-forward {
  padding: 0px;
}

.rs-calendar-header-title.rs-calendar-header-title-date {
  margin: 0px;
  padding: 0px;
}

.rs-picker-daterange-menu .rs-calendar:first-child {
  border: none;
}

.rs-picker-daterange-panel .rs-picker-daterange-calendar-group {
  min-width: auto;
  width: auto;
  height: auto;
}

.rs-calendar-header-month-toolbar button {
  background-color: #ffffff;
}

.rs-picker-daterange-panel .rs-picker-daterange-calendar-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.kizen-daterange-content {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media only screen and (min-width : 768px) {
  .kizen-daterange-content {
    grid-template-columns: 123px 1fr;
  }

  .rs-picker-daterange-panel .rs-picker-daterange-calendar-group {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
